Logfile Ivar Lottman  
Project owner: Fenna Feenstra  
Teachers: Michiel and Bart  
GithubProject: https://github.com/users/Ivarlottman/projects/1/views/1  
GithubReposotory: https://github.com/Ivarlottman/Dashboard-Regenerative-landbouw  

Introduction Regeneratieve farming project  
Regenertive farming is a method of farming aimd at restoring and improving the siol end ecosystem, preffrebly by using natural procceses to its advantige. This study focusus on the optimalisation of natural fertelizer.
For this 3 treatment fertelizers where used: Airation, grander and a combination of them.  

Goal of the project  
Making a data dashboard that shows the effects of the yealds with the used treatment methods.
Main value's to use to show yeald results are : harvest and ds in Tons per arce, VEM,VCOS,DVE and OEB in their own value's
Main hypotosise is are there significant corralelations between the grass variables and the treatments methods
Aditional pages are: analysis explanation page, reflection on results page, page for farmers and regulators  

logfile setup  
week + date  
task list for the day  
taskt (why, what, code, outcome)

Import code chunk  

Python and markdown version  
python 3.13.0  
markdown 3.7  

Python modules  
Modules - version - explanation  
matplotlib 3.9.2  
pandas 2.2.3  
openpyx1 3.1.5  
numpy 2.1.3  
scipy 1.14.1  
panel 1.5.4

In [2]:
# pip install [package] commandline argument
# pip show [package] commandline argument

# visual
import matplotlib
# maybe import seaborn for better visuals

# data based
import pandas
import numpy
import scipy

# app interface
import panel

Week 1  
20-11-2024  
Tasks  
Reading in on the project and its data.  
Discussing the data with Maartje en Michiel.  
Making new data files and a codebook.  

Reading the project and its data.
When looking at the project is clear on what Fenna wants from the data. the goal here is to make a dashboard with 2 focuses. one for reasearch and one for farmers and regulators. the one for reasearch will have a heavy focus on statistics and the one for farmers will have a more general aproach mainly shown with basic plots and precentage's and if its statistiscly significant.

Discussing the data with Maartje en Michiel
When looking at the data in the file its clear that its not optimal as input data for scripting in python. This is becouse of the meta data and avrige lines in between the data tables, this couses problems when using it as input data in python. There are also some collums that 2024 and but not 2023. After discussing this with both Maartje en Michiel it was decided to make 2 new files with 2 codebooks so that it can be used in a script

Started working on the new data set so it can be proccesed better by python
as prevusly mentiont above.  
finisht 24-11-2024

Week 1  
21-11-2024  
Task  
continue working on the clean data exel files from 20-11-2024
Codebook was helpt with the codes of Eurovins (https://www.eurofins-agro.com/nl-nl/suiker). This was also the company that did the grass analysis

Note 
Talkt with bart about the data and he adviced the use of pandas library for dataframes instead of making a database becouse of the reletievly smal amount of data.

Week 1  
24-11-2024  
Tasks  
Data reading and updating logfile  
Today i finisht making the new datafiles and started reading them in. Reading in the files was a little weird at first and turning the excel file into a csv did produce the desired dataframe so from the module pandas along with the submodule openpyx1(This allows pandas to read .xlsx files) i read in both data files as an excel file.

Comments on the 2 code sections below  
1st code blok reads in the data and prints information about the dataframe with the info function of pandas. From this i can tell that in both files all the collums are from the data type that i expected and there are no NaN's or empty sections in all the rows.

The 2nd code blok displays the dataframe with again now oditys showing. one point is that i might want to change the "behandeling" treatment collums value's from single letters to the acutal method used so that this its clearer what is happening in a plot and makes it simpler for later treatment methods to be added.

In [ ]:
# Reading in the data with pandas + openpyx1
data_2023 = pandas.read_excel("..\\Raw_data\\clean_data_2023.xlsx")
data_2024 = pandas.read_excel("..\\Raw_data\\clean_data_2024.xlsx")
#print(data_2023.info())
print(data_2024.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64 entries, 0 to 63
Data columns (total 36 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Strook_O_W      64 non-null     int64
 1   Behandeling     64 non-null     object
 2   Bloknr          64 non-null     int64
 3   Jaar            64 non-null     int64
 4   Snede           64 non-null     int64
 5   Kuub_kg_h       64 non-null     int64
 6   PPO_nr          64 non-null     int64
 7   meters_gemaaid  64 non-null     float64
 8   gemaaid_m2      64 non-null     float64
 9   gewicht _kg     64 non-null     float64
 10  gewicht _t_h    64 non-null     float64
 11  Vocht           64 non-null     int64
 12  DS_perc         64 non-null     float64
 13  DS _ton_ha      64 non-null     float64
 14  VEM             64 non-null     int64
 15  DVE             64 non-null     int64
 16  OEB             64 non-null     int64
 17  VEVI            64 non-null     int64
 18  VOS             64 non-null     int64
 19  FOS             64 non-null     int64
 20  SW              64 non-null     float64
 21  Ruw_eiwit       64 non-null     int64
 22  Ruwe_celst      64 non-null     int64
 23  Ruw_as          64 non-null     int64
 24  VCOS            64 non-null     float64
 25  Suiker          64 non-null     int64
 26  Ruw_vet         64 non-null     int64
 27  Chloor          64 non-null     float64
 28  NDF             64 non-null     int64
 29  ADF             64 non-null     int64
 30  ADL             64 non-null     int64
 31  VEM_prod        64 non-null     int64
 32  DVE_prod        64 non-null     int64
 33  OEB_prod        64 non-null     int64
 34  NDF_vs          64 non-null     int64
 35  CW_vert.        64 non-null     float64
dtypes: float64(10), int64(25), object(1)
memory usage: 18.1+ KB
None

In [4]:
#data_2023
data_2024

,Strook_O_W,Behandeling,Bloknr,Jaar,Snede,Kuub_kg_h,PPO_nr,meters_gemaaid,gemaaid_m2,gewicht _kg,...,Ruw_vet,Chloor,NDF,ADF,ADL,VEM_prod,DVE_prod,OEB_prod,NDF_vs,CW_vert.
0,1,A,15,2024,1,15,314075,5.20,7.800,9.5,...,26,9.1,422,217,12,252,20,-13,81,80.6
1,1,A,16,2024,1,15,313830,5.40,8.100,15.2,...,29,12.0,464,234,17,205,18,-7,111,75.2
2,5,A,7,2024,1,15,313812,4.60,6.900,12.4,...,26,9.8,432,212,13,222,19,-11,85,79.7
3,5,A,8,2024,1,15,313826,5.30,7.950,14.2,...,26,10.5,473,240,17,204,17,-10,127,72.2
4,6,B,5,2024,1,15,313811,5.10,7.650,11.8,...,28,10.9,472,237,16,201,17,-8,110,75.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59,3,C,12,2024,4,15,347524,5.09,7.635,6.8,...,39,15.1,596,307,24,141,13,0,186,66.7
60,8,D,1,2024,4,15,347520,5.10,7.650,7.6,...,40,19.3,583,317,25,149,13,0,180,67.3
61,8,D,2,2024,4,15,347535,4.98,7.470,7.0,...,40,16.1,555,301,25,158,13,-1,171,67.3
62,4,D,9,2024,4,15,347522,4.86,7.290,7.8,...,38,15.6,592,319,28,142,13,0,183,67.3
63,4,D,10,2024,4,15,347525,4.98,7.470,9.0,...,35,14.3,580,308,29,142,12,0,213,61.0

Week 2 Exploratieve data analyse  
25-11-2024  
Tasks 
making a joind dataframe on the collums treatment, bloknr, year,snede, gewicht_t_h and VEM for testing.  
make a scatterplot  
data normalisation test (shapiro wilks test)
decided on statisics method after checking gewicht_t_h and VEM normalisation